* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    // font-family: 'Geforce';
    font-size: 1.6rem;
    color: white;
    background-color: black;
}

/* header */

.header {
    background-image: url(/Bild\ Material/header.jpg);
    background-repeat: no-repeat;
    background-color: black;
    height: 52.4rem;
}

.h-box {
    color: white;
    padding-top: 10rem;
    margin-left: 100rem;
    font-family: 'GeForce';
}

.h-h1 {
    font-size: 3.4rem;
    padding-bottom: 0.5rem;
}

.h-h4 {
    color: rgb(105, 171, 0);
    padding-bottom: 0.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.h-p {
    font-family: 'DINPro', sans-serif;
    width: 55rem;
    font-size: 1.6rem;
    line-height: 1.3;
    padding: 1rem 0rem;
}


.h-p-green {
    text-transform: uppercase;
    color: rgb(105, 171, 0);
    padding-top: 1rem;
    font-weight: bold;
}

.h-logo {
    padding-top: 3rem;
    width: 8rem;
}

/* teasor */

.teasor {
    background-image: url(/Bild\ Material/turing-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    padding: 5rem;
    font-family: 'GeForce', sans-serif;
    font-weight: bold;
}

.t-h2 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'GeForce';
    font-weight: lighter;
    padding: 2rem 0rem 1rem 0rem;
    font-size: 3.4rem;
}

.t-border {
    width: 100%;
    margin: 0 auto;
}

.t-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start !important;
    color: white;
    column-gap: 1rem;
    row-gap: 1rem;
    height: auto;
}

.t-box-item {
    justify-self: center;
    align-self: stretch;
    padding-left: 0rem;
    width: 50rem;
    font-weight: lighter;
}

.t-box-item-headline {
    color: rgb(120, 184, 0);
    font-size: 1.8rem;
    padding-bottom: 2rem;
    font-family: sans-serif;
}

.t-box-item-text {
    line-height: 1.5;
    font-size: 1.8rem;
    font-family: sans-serif;
}

/* hero */

.hero {
    background-image: url(/Bild\ Material/rtx-erleben.jpg);
    background-repeat: no-repeat;
    background-color: black;
    width: 100%;
}

.he-box {
    padding: 15rem 15rem;
    width: 55rem;
    color: white;
    font-family: 'GeForce';
    font-weight: lighter;
}

.he-box-headline {
    color: white;
    padding-bottom: 1.5rem;
    font-size: 3.4rem;
    font-weight: lighter;
}

.he-box-text {
    line-height: 1.7;
    font-family: 'DINPro';
}

/* main */

.main {
    background-color: black;
}

.m-header {
    font-size: 3.4rem;
    font-weight: lighter;
    text-align: center;
    padding-top: 5rem;
    font-family: sans-serif;
}

.m-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5rem;
    column-gap: 5rem;
    font-family: sans-serif;
    margin: 0 auto;
    width: 80%;
    padding-top: 5rem;
}

.m-box-item {
    display: flex;
    flex-direction: column;
    height: 40rem;
    justify-content: flex-start;
    gap: 2rem;
}

.m-box-item-img-2 {
    height: 90%;
}

.m-box-item-headline {
    justify-self: center;
    align-self: center;
    color: rgb(121, 183, 49);
}

/* copy of main */

.m-box-btn {
    background-color: rgb(118, 184, 0);
    color: white;
    width: 20rem;
    padding: 1rem 2rem;
    align-self: center;
    font-family: 'DINPro';
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
}

/* footer */

.footer {
    padding-top: 10rem;
    background-color: black;
    height: 23rem;
    color: rgb(80, 80, 80);
    position: relative;
}

.f-box {
    border-top: 4px solid rgb(121, 183, 49);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.f-box-img-inline {
    position: absolute;
    top: -3.7rem;
    left: -4rem;
}

.f-box-img {
    padding-top: 4rem;
}

.f-box-text {
    padding: 4rem 0rem;
    font-family: sans-serif;
    text-align: left;
    line-height: 1.2;
}


/* media Queries */


@media (max-width: 1650px) {
    .h-box {
        margin-left: 75rem;
    }

    .m-box {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 1350px) {

    .header {
        margin-left: -15rem;
    }

    .h-box {
        width: 50rem;
        margin-left: 75rem;
    }

    .he-box {
        padding: 10rem -10rem;
        width: 55rem;
        color: white;
        font-family: 'GeForce';
        font-weight: lighter;
    }
}


@media (max-width: 1150px) {

    .header {
        background-image: url(/Bild\ Material/header-medium.jpg);
        background-color: rgb(4, 4, 4);
        margin-left: -20rem;
    }

    .h-box {
        margin-left: 65rem;
    }

    .h-p {
        width: 30rem;
    }

    .teasor {
        background-image: url(/Bild\ Material/turing-bg.jpg);
        background-repeat: no-repeat;
        width: 100%;
        padding-left: 5rem;
    }

    .t-border {
        width: 100%;
        margin: 0 auto;
    }

    .t-box {
        grid-template-columns: 1fr;
        padding: 0rem;
    }

    .t-box-item {
        width: 80rem;
    }

    .hero {
        background-image: url(/Bild\ Material/rtx-erleben-medium.jpg);
        background-size: cover;
        padding-right: 50rem;
    }

    .he-box {
        padding: 15rem 5rem;
        width: 36rem;
    }

    .m-box {
        grid-template-columns: 1fr 1fr;
        margin-left: 3rem;
        width: 90%;
    }
}


@media (max-width: 850px) {

    .header {
        background-image: url(/Bild\ Material/header-medium.jpg);
        margin-left: -36rem;
    }

    .h-box {
        margin-left: 53rem;
        background-color: black;
        opacity: 0.7;
        width: 50rem;
        padding: 8rem 7rem;
    }

    .h-p {
        width: 25rem;
    }

    /* teasor */

    .teasor {
        background-image: url(/Bild\ Material/turing-bg.jpg);
        background-repeat: no-repeat;
        width: 100%;
        padding-left: 5rem;
    }

    // .t-h2 {
    //     display: flex;
    //     justify-content: center;
    //     color: white;
    //     font-family: sans-serif;
    //     padding: 2rem 0rem 1rem 0rem;
    // }

    .t-border {
        width: 100%;
        margin: 0 auto;
    }

    .t-box {
        grid-template-columns: 1fr;
        padding: 0rem;
    }

    .t-box-item {
        width: 75vw;
        padding: 0rem;
    }


    .hero {
        background-image: url(/Bild\ Material/rtx-erleben-small.jpg);
        opacity: 1;
    }

    .he-box {
        background-color: black;
        opacity: 0.8;
        padding: 5rem 5rem;
        width: 100vw;
    }

    .m-box {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 550px) {

    html {
        font-size: 50%;
    }

    .header {
        background-image: url(/Bild\ Material/header-small.jpg);
        width: 100rem;
        margin-left: -30rem;
        height: auto;
    }

    .h-box {
        padding: 10rem 0rem 10rem 6rem;
        margin-left: 30rem;
        background-color: black;
        opacity: 0.8;
    }

    .h-p {
        width: 25rem;
    }

    .t-border {
        width: 100%;
    }

    .hero {
        background-image: none;
    }

    .he-box {
        padding: 5rem 15rem 5rem 5rem;
        width: 50rem;
    }

    .h-box-text {
        width: 23rem;
    }

    .m-box {
        grid-template-columns: 1fr;
    }


    .f-box {
        border-top: 5px solid rgb(121, 183, 49);
        width: 80%;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }

    .f-box-img-inline {
        position: absolute;
        top: -4.7rem;
        left: -4rem;
    }

}